:root {
  /* Colores */
  --background-dark: #1f1f1f;
  --primary-blue: #0d47a1;
  --secondary-yellow: #ffab00;
  --text-white: #ffff;
  --border-gray: #ccc;

  /* Fuentes */
  --font-family-bebas: "Bebas Neue", sans-serif;
  --font-size-base: 22px;
  --font-size-h1: 60px;

  /* Tamaños */
  --button-width: 167px;
  --button-height: 53px;
  --input-width: 299px;
  --input-height: 38px;
  --nice-select-width: 299px;
  --nice-select-height: 47px;
}

body{

  display: flex;
  flex-direction: column
}

@import "nice-select2/dist/css/nice-select2.css";

.nice-select {
  width: var(--nice-select-width);
  height: var(--nice-select-height);
}

@keyframes appear {

  from{

    opacity: 0;
    scale: 0;

  }
  to{

    opacity: 1;
    scale: 1;

  }

  
}




.nice-select .current {
  width: var(--nice-select-width);
  height: var(--nice-select-height);
  display: flex;
  font-size: 18px;
}

input[type="search"] {
  width: var(--input-width);
  height: var(--input-height);
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]:focus {
  border: 1px solid var(--border-gray);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: var(--font-family-bebas);
}

body {
  background-color: var(--background-dark);
  color: var(--primary-blue);
  overflow-x: hidden;
}

.hamburguer {
  display: none;
}

nav {
  font-family: var(--font-family-bebas);
  font-size: var(--font-size-base);
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 0 20px;
}

nav h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: var(--font-size-h1);
  margin: 20px;
}

.options a {
  color: var(--secondary-yellow);
  margin-left: 110px;
}

nav div {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.log {
  margin-right: 30px;
  display: flex;
  gap: 50px;
}

.container_lo {
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  border-radius: 20px;
  justify-content: center;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--primary-blue);
}

.container_lo a {
  color: var(--text-white);
  background-color: var(--primary-blue);
}

.container-sing {
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  border-radius: 20px;
  justify-content: center;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--text-white);
}

.container-sing a {
  color: var(--primary-blue);
}

#imgmovie {
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  width: 350px;
  height: 217px;
  border-radius: 15px;
  

  
}

#divmovie {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--secondary-yellow);
  border-radius: 15px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  margin-bottom: 30px;

}

.select_options{
  display: flex;
  gap: 10px;
}

section {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columnas de igual ancho */
  gap: 10px; /* Espacio entre elementos */
  justify-items: center;
}

#divmovie:hover {
  filter: brightness(1);
}
.container{
  display: flex;
  justify-content: center;

}
.container_options{
 width: 95%; 
  background-color: hsl(218, 39%, 14%);
  padding: 40px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);


}

#divmovie {
  cursor: pointer;
  overflow:auto;
  width: 350px;
  text-overflow:ellipsis;
  filter: brightness(0.7);
  transition: filter 0.3s ease;

}


.conatiner_description{
  transition: all;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
}



.description{

  background-color: #ffab00;
  position: absolute;
  width: 35%;
  height: 100vh;
  right: 0%;



}

#description_div{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;



}

#imgmovie {
  background-size: cover;

  background-position: "center";

  background-repeat: "no-repeat";
}

#bottonContainer{

  display: flex;
  gap: 40px;

}



#addBotton {
  -webkit-box-shadow: 0px 0px 44px -9px black;
  -moz-box-shadow: 0px 0px 44px -9px black;
  box-shadow: 0px 0px 44px -9px black;
  cursor: pointer;
  font-size: 30px;
  background-color: #ffab00;
  width: 160px;
  height: 50px;
  border-radius: 20px;
  border: none;
  transition: box-shadow 0.3s ease;
}

#addBotton:hover {
  -webkit-box-shadow: 0px 0px 44px -9px #ffab00;
  -moz-box-shadow: 0px 0px 44px -9px #ffab00;
  box-shadow: 0px 0px 44px -9px #ffab00;
}

.conatiner_description {
  transition: opacity 0.5s ease, visibility 0.5s ease;
  background-color: transparent;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
}

.conatiner_description.show {
  opacity: 1;
  visibility: visible;
}

.out_description {
  opacity: 0.6;
  background-color: #1f1f1f;
  position: absolute;
  width: 65%;
  height: 100vh;

}

.description {
  background-color: #2D2D2D;
  position: absolute;
  width: 35%;
  height: 100vh;
  right: 0;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#rateDiv{
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70px;



}

#stardiv{
  display: flex;
  gap: 1px;


}


#containerRate{
  margin-top: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 80px;
  border-radius: 15px;
  background-color: #ccc;
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);

}

#textMovieDescription {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  padding: 10px;
  word-wrap: break-word;
}

#imgMovieDescription {
  -webkit-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 44px -9px rgba(0, 0, 0, 1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 450px;
  border-radius: 15px;
}

.conatiner_description.show .out_description {
  transform: translateX(0);
}

.conatiner_description.show .description {
  transform: translateX(0);
}

/* Media Queries (Ajustes con Variables) */
@media (max-width: 1420px) {
  :root {
    --button-width: 117px;
    --button-height: 43px;
    --font-size-base: 20px;
  }

  .container_lo {
    width: var(--button-width);
    height: var(--button-height);
  }

  .container-sing {
    width: var(--button-width);
    height: var(--button-height);
  }

  .options a {
    margin-left: 60px;
  }
}

@media (max-width: 1080px) {
  .hamburguer {
    display: block;
    width: 60px;
    height: 60px;
  }

  .hamburguer svg {
    display: block;
  }

  .options a {
    display: none;
  }

  .log {
    display: none;
  }

  section {
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 50px;
  }
}
